.about
  padding 47px 0 34px
  text-align center
  &__img
    width 100%
  @media screen and (min-width 48rem)
    padding 117px 0 64px
    &__left
      flex 1
      padding-right 18px
    &__img
      flex 1.64
      width auto

  .text
    text-align justify
  .btn
    margin 10px auto

  &-main
    padding 100px 0 0

  &__banner
    margin 40px 0
    width 100%

  &__mv
    > div
      box-sizing border-box
      padding 0 1rem

      .text
        margin-top 40px

    @media screen and (min-width 42rem)
      justify-content space-around
      > div
        flex 1 1 50%
        padding 0 1.5rem

  &__m
    @media screen and (min-width 42rem)
      position relative
      &:after
        background-color $cool-gray
        display block
        content ''
        height 70%
        opacity 0.6
        position absolute
        right 0
        top 25%
        width 1px

  &__v-list
    flex-wrap wrap
  &__v-item
    flex 0 0 28%
    &__icon
      align-items center
      background-color $pale-gray
      height 150px
      display flex
      justify-content center
      margin 40px auto 0
      width 150px
      transition background 0.28s ease, fill 0.28s ease
    
    &:hover
      .about
        &__v-item
          &__icon
            background-color: $deep-sky-blue
            svg
              path
                fill  $white
        &__v-title
          color: $deep-sky-blue


  &__v-title
    color $dark-slate-blue
    font-family $lato
    font-size 1.5rem
    font-weight 300


  &__ha
    background-color $pale-gray
    padding 40px 0
    font-family 'Avenir'

    .title
      font-family 'Avenir'


    &-img
      figcaption
        color $dark-slate-blue
        line-height 1.75
        span
          display block
          color $deep-sky-blue
          font-size 1.5rem
          font-weight 700

    &-list
      margin 60px 0 20px
      text-align left
    &-item
      color $dark-slate-blue
      line-height 1.75
      padding-left 25px
      position relative
      &:before
        display block
        content '•'
        position absolute
        left 0
        top 0

