.btn
  background-color transparent
  border none
  box-sizing border-box
  display block
  padding 15px
  transition background 0.3s ease-out
  &--default
    background-color $deep-sky-blue
    color $white
    font 300 1rem $lato
    text-align center
    width 100%
    &:hover
      background-color darken($deep-sky-blue, 5)

  &--bordered
    border 1px solid $cool-gray
    color $dark-slate-blue
    width auto
    svg
      margin-right 10px
      vertical-align middle

    &:hover
      background-color $pale-gray

  &--small
    display inline-block
    min-width 174px
    width auto

  &--contact-submit
    background-color $white
    color $deep-sky-blue
    border 1px solid $deep-sky-blue
    font 300 1rem $lato
    text-align center
    width 100%
    font-weight bold
    transition background 0.3s ease-out 0s, color 0.3s ease-out 0s !important
    &:hover
      background-color $deep-sky-blue
      color $white
