.contact
  box-shadow 0 3px 50px 0 rgba(0, 0, 0, 0.05)
  padding 48px 0 44px

  &__info, &__form
    padding 0 5%
    width 100%
    @media screen and (min-width 48rem)
      flex 1
  .title3
    text-align left

  &__form
    .btn
      margin-top 20px

  &__detail
    margin-top 33px
    &-title
      color $dark-slate-blue
      font-size 700 0.75rem $lato
      margin 0
    .text
      margin 3px 0 0

  &__info
    .btn
      margin-top 20px
      max-width 200px
      padding-top 10px
      padding-bottom 10px



.form-group
  margin-top 23px

.form-label
  color $dark-slate-blue
  display block
  font-size 0.875rem
  margin-bottom 5px
.form-control
  border 1px solid #e5e5e5
  box-sizing border-box
  display block
  height 42px
  padding 3px
  width 100%
  &.error
    border-color #ff8989

textarea.form-control
  resize none
  height 130px
