.main_f
  background-color $dark-slate-blue
  padding 38px 0
  text-align center

  .text
    font-size 0.938rem
    margin 0

  &__right
    margin 20px auto
    a
      margin 0 5px
    .text
      margin-right 15px

    @media screen and (min-width 48rem)
      margin 0
