.main_h
  background-color $white
  box-shadow 0 2px 50px 0 rgba(0, 0, 0, 0.07)
  position fixed
  top 0
  left 0
  width 100%
  z-index 9
  &--scrolling
    .logo
      transform scale(0.8)
    .main_nav
      &__item
        margin-top 33px
        margin-bottom 17px
        &.active
          &:after
            bottom -17px

.logo
  transition transform 0.28s ease-out
  margin 10px 0
  max-width 126px
  @media screen and (min-width 48rem)
    max-width 156px

.icon-mobile
  background-color transparent
  border none
  cursor pointer
  height 15px
  margin-right 10px
  position relative
  width 24px
  &:before, &:after
    content ''
    display block
    height 0
    position absolute
    left 0
    width 100%
  &:before
    border-top 2px solid $dark-slate-blue
    border-bottom 2px solid $dark-slate-blue
    height 14px
    top 0
  &:after
    border-top 2px solid $dark-slate-blue
    top 8px
  @media screen and (min-width 48rem)
    display none
.main_nav
  background rgba($white, 0.98)
  height 100%
  position fixed
  top 0
  left 0
  transform translateX(120%)
  transition transform 0.33s ease-out
  width 100%
  z-index 10
  &.open
    transform translateX(0)
    + .icon-mobile
      z-index 11
      &:before
        height 0
        top 8px
        border-bottom none
        transform rotate(45deg)
      &:after
        transform rotate(-45deg)
  &__list
    align-items center
    box-sizing border-box
    display flex
    flex-direction column
    justify-content space-around
    height 100%
    margin 0
    padding 10vh 0
    width 100%
  &__item
    font-size 1.5rem
    margin 0
    padding 10px 0
    text-align center
    a
      color $cool-gray
    &.active
      a
        border-bottom 2px solid $deep-sky-blue
        color $deep-sky-blue

  @media screen and (min-width 48rem)
    display block
    position static
    top auto
    height auto
    left auto
    transform translateX(0)
    width auto
    z-index 1
    &__list
      display block
      margin 0
      padding 0
      width auto
    &__item
      display inline-block
      font-size 0.813rem
      margin 43px 12px 27px
      padding 0
      &.active
        position relative
        a
          border none
        &:after
          background-color $dark-slate-blue
          content ''
          height 2px
          position absolute
          bottom -27px
          left 0
          width 100%
