@import '../../../node_modules/swiper/dist/css/swiper.min.css'

.main_slideshow
  padding-top 66px
  position relative
  width 100%
  @media screen and (min-width 48rem)
    padding-top 86px

.swiper-slide
  position relative

  figcaption
    color $white
    display block
    font 700 1.5rem $montserrat
    line-height 1.14
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    text-align center
    width 100%

  @media screen and (min-width 35rem)
    figcaption
      font-size 2.5rem
  @media screen and (min-width 48rem)
    figcaption
      font-size 3.5rem
      width auto

.swiper-pagination-bullet
  background-color transparent
  border 1px solid $cool-gray
  height 12px
  width 12px
  &-active
    background-color $cool-gray

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
  margin 0 10px
