.modal
  display none
  height 100%
  overflow auto
  position fixed
  top 0
  left 0
  transform scaleX(0)
  transition all 0.38s ease-out
  width 100%
  z-index 11

  &--open
    background-color $pale-gray
    transform scaleX(1)

    .modal__body, .modal__close
      opacity 1

  .container
    position relative

  &__body, &__close
    opacity 0
    transition opacity 0.38s ease-out 0.45s
  &__body
    display flex
    flex-direction column
    justify-content center
    box-sizing border-box
    padding 15vh 10px 10vh
    position relative
    width 100%
    @media screen and (min-width 48rem)
      padding-right 10%
      padding-left 10%
  &__close
    position absolute
    right 0
    top 20px
    z-index 2
    &-txt
      display none
      padding-top 1px
    svg
      margin-left 15px
      vertical-align middle
    @media screen and (min-width 30rem)
      &-txt
        display inline
  &__title
    color $dark-slate-blue
    font 700 1.875rem $lato
    text-align center
    @media screen and (min-width 48rem)
      font-size 2.75rem
  &__info
    flex-direction column
    .text
      display block
      line-height 1.5
      margin 15px 0
      text-align justify
    @media screen and (min-width 30rem)
      flex-direction row
      .text
        flex 1
        &:first-child
          margin-right 15px
        &:last-child
          margin-left 15px
    @media screen and (min-width 48rem)
      .text
        &:first-child
          margin-right 45px
        &:last-child
          margin-left 45px


  &-services
    .services__item-icon
      flex-shrink 0
      flex-grow 0
      background-color $deep-sky-blue
      #icon-analisis
        path
          &:first-child,
          &:nth-child(2)
            fill $deep-sky-blue
            fill-opacity 0.2
          &:nth-child(3),
          &:last-child
            stroke $white
      #icon-autoridades,
      #icon-analisis2,
      #icon-liberacion,
      #icon-estudio
        g
          stroke $white
          path:first-child,
          > circle
            fill $deep-sky-blue
            fill-opacity 0.2
