revealHideElem()
  opacity 0
  transform translateY(25px)
  transition all 0.35s ease-out 0.15s

revealShowElem()
  opacity 1
  transform translateY(0)

.reveal
  .title, .text,
  &.about .about__img,
  .subtitle,
  .solutions__item,
  .services__item,
  .contact__detail,
  .form-group
    revealHideElem()

  &--hide
    opacity 0

  &--show
    opacity 1
    .title, .text,
    &.about .about__img,
    .subtitle,
    .solutions__item,
    .services__item,
    .contact__detail,
    .form-group
      revealShowElem()

    .subtitle
      transition-delay 0.22s


  &.about
    .about__img
      transition-delay 0.3s
    .text
      transition-delay 0.22s

  &.solutions
    hgroup .text
      transition-delay 0.3s

  $n = 4
  for $i in (1..$n)
    $delay = ($i * 0.07) + 0.3s
    .solutions__item:nth-child({$i})
      transition-delay $delay

  $n = 6
  for $i in (1..$n)
    $delay = ($i * 0.08) + 0.2s
    .services__item:nth-child({$i})
      transition-delay $delay

  $n = 3
  for $i in (1..$n)
    $delay = ($i * 0.08) + 0.3s
    .contact__detail:nth-child({$i})
      transition-delay $delay

  &.contact
    .btn
      transition-delay .6s

  $n = 4
  for $i in (1..$n)
    $delay = ($i * 0.1) + 0.2s
    .form-group:nth-child({$i})
      transition-delay $delay


