.services
  padding 40px 0 37px

  &__list
    margin-top 60px
    flex-wrap wrap
  &__item
    box-sizing border-box
    cursor pointer
    flex 1 1 28%
    margin 20px 2.5%
    padding 10px
    position relative
    text-align center
    > .btn
      margin 0 auto
      outline none
      padding 0
    &-title
      color $dark-slate-blue
      font 300 1.375rem $lato
      @media screen and (min-width 48rem)
        font-size 1.75rem
    &-info
      display none
    &:hover
      .services
        &__item-title
          color $deep-sky-blue
        &__item-icon
          background-color $deep-sky-blue
      #icon-analisis
        path
          &:first-child,
          &:nth-child(2)
            fill $deep-sky-blue
            fill-opacity 0.2
          &:nth-child(3),
          &:last-child
            stroke $white
      #icon-autoridades,
      #icon-analisis2,
      #icon-liberacion,
      #icon-estudio,
      #icon-solucion
        g
          stroke $white
          path:first-child,
          > circle
            fill $deep-sky-blue
            fill-opacity 0.2

    &-icon
      align-items center
      background-color $pale-gray
      display flex
      justify-content center
      height 150px
      margin auto
      position relative
      transition background 0.28s ease
      width 150px
      .icon-plus
        background-color $sunflower-yellow
        box-sizing border-box
        height 40px
        padding-top 11px
        position absolute
        right 0
        top 0
        width 40px
        svg
          fill $white
