.solutions
  background-color $pale-gray
  padding 20px 0 60px

  hgroup
    text-align center

  .title
    margin-bottom 10px

  &__list
    margin-top 40px
  &__item
    border-radius 8px
    box-shadow 0 2px 12px 1px rgba(#cccccc, 0.3)
    max-width 270px
    margin 10px auto
    overflow hidden
    position relative
    width 100%
    @media screen and (min-width 35rem)
      margin-left 10px
      margin-right 10px
      width calc(50% - 20px)
      &:nth-child(even)
        margin-right 0
      &:nth-child(odd)
        margin-left 0
    @media screen and (min-width 48rem)
      width calc(25% - 20px)
      &:nth-child(even), &:nth-child(odd)
        margin-right 10px
        margin-left 10px
      &:first-child
        margin-left 0
      &:last-child
        margin-right 0

    &-info
      background-color $white
      box-sizing border-box
      height 100%
      padding 20px
      position absolute
      top 60%
      left 0
      transform translateY(0)
      transition transform 0.25s ease-out
      width 100%
      z-index 1
      .text
        display none
        opacity 0
      .title2
        text-align left

    &:hover
      .solutions__item-info
        background-color rgba($dark-slate-blue, 0.8)
        display flex
        flex-direction column
        justify-content space-around
        transform translateY(-60%)
        .title2
          color $white
        .text
          display block
          margin 0
          opacity 1

