
body
  font-family $lato
  -webkit-font-smoothing antialiased

.circle
  border-radius 50%
.mt-60
  margin-top 60px

.flex
  display flex
  flex-wrap wrap

  &.align-center
    align-items center

  &.justify-space-between
    justify-content space-between
  &.justify-space-around
    justify-content space-around

.container
  margin 0 auto
  max-width 1140px
  width 96%

  &--mid
    max-width 900px

  &--small
    max-width 840px

.title
  color $dark-slate-blue
  font 500 2rem 'Montserrat'
  line-height 1.16
  margin 20px 0
  position relative
  text-align center
  &:after
    background-color $cool-gray
    content ''
    display block
    height 1px
    margin-left -22.5px
    position absolute
    bottom -8px
    left 50%
    width 45px
  &--noline
    &:after
      display none
  @media screen and (min-width 48rem)
    font-size 2.75rem
    line-height 1.61

.title2
  font-size 1.125rem
  line-height 1.42
  margin 0
  @media screen and (min-width 48rem)
    font-size 1.325rem
.title3
  font 400 1.25rem $lato
  line-height 1.46
  letter-spacing -0.1px
  @media screen and (min-width 48rem)
    font-size 1.5rem

.subtitle
  color $cool-gray
  font 400 1.375rem $lato
  margin-top 0

.text
  color $cool-gray
