<form novalidate>
    <div class="form-group">
        <label class="form-label" for="name">NOMBRE</label>
        [text* nombre id:name class:form-control]
    </div>
    <div class="form-group">
        <label class="form-label" for="email">EMAIL</label>
        [email* email id:email class:form-control]
    </div>
    <div class="form-group">
        <label class="form-label" for="phone">TELÉFONO</label>
        [tel tel id:phone class:form-control]
    </div>
    <div class="form-group">
        <label class="form-label" for="message">MENSAJE</label>
        [textarea mensaje id:message class:form-control]
    </div>
    [submit class:btn class:btn--default "enviar"]
</form>