.wpcf7-form{
    .contact__form{
        padding: 0;
    }
}

.wpcf7{
    .ajax-loader{
        display: table !important;
        margin: 0 auto !important;
    }
}

.text-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.swiper-slide{
    figcaption{
        font-size: 1rem;
        text-align: left;

        ul{
            list-style: disc;
            margin-left: 15px;
        }
    }
}